	<table border="1">
		<tbody>
			<tr>
			
			<td><img src="images/produk/001.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: COLDPLAY<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>"Look at the stars<br/>Look how the shine<br/>for You"</i><br>-COLDPLAY-</q><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=001&qty=1&img=001'" class="button special"/></td>
			
			<td><img src="images/produk/002.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: PHOTOGRAPH<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>"So you can keep me<br>Inside the pocket<br>Of your ripped jeans<br>Holdin' me closer<br>'Till our eyes meet<br>You won't ever<br>be alone"</i></q><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=002&qty=1&img=002'" class="button special"/></td>
				
			</tr>
			
			<tr>
			<td><img src="images/produk/003.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: TOL<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>"Cause<br>honey your<br>soul could<br>never grow<br>old, it's<br>evergreen</q></i><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=003&qty=1&img=003'" class="button special"/></td>
			
			<td><img src="images/produk/004.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: WHEN I SEE YOU AGAIN<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>"WE'VE COME A LONG WAY<br>FROM WHERE WE BEGAN<br>I'LL TELL YOU ALL ABOUT IT<br>WHEN I SEE YOU AGAIN"</q></i><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=004&qty=1&img=004'" class="button special"/></td>
			</tr>
			
			<tr>
			<td><img src="images/produk/005.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: THIS BOOK BELONGS TO I.<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>THIS BOOK<br />BELONGS TO<br />"NAMA"</q></i><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=005&qty=1&img=005'" class="button special"/></td>

			<td><img src="images/produk/006.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: THIS BOOK BELONGS TO II.<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>THIS BOOK<br />BELONGS TO<br />"NAMA"</q></i><br/>
			<b>Custom Word</b>: Yes</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=006&qty=1&img=006'" class="button special"/></td>
			
			</tr>
			
			<tr>
			<td><img src="images/produk/007.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: STAR WARS<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>JOIN THE DARK SIDE</q></i><br/>
			<b>Custom Word</b>: No</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=007&qty=1&img=007'" class="button special"/></td>
			<td><img src="images/produk/008.PNG" width="380" height="420" /><br/>
			<font color="black">
			<b>Nama Produk</b>: Minions<br/>
			<b>Jenis Cover</b>: Hardcover<br/>
			<b>Jenis Kertas</b>: HVS bergaris<br/>
			<b>Jumlah Kertas</b>: 60<br/>
			<b>Quotes</b>:<br/>
			<q><i>JOIN THE DARK SIDE</q></i><br/>
			<b>Custom Word</b>: No</font>
			<br/>
			<input type="button" value="BUY NOW" onclick="location.href='?module=shop&route=buy&id_buku=008&qty=1&img=008'" class="button special"/></td>
			</tr>
			
		</tbody>
	</table>
